@model TblUrunler
@{
    ViewData["Title"] = "Details";
}

    <div class="row">
        <div class="col-md-3">
            <img src="~/img/@Model.Resim1" alt="@Model.UrunAdi" class="img-fluid" />
        </div>
        <div class="col-md-9">
            <h1 class="mb-3">
                @Model.UrunAdi
            </h1>
            <h4 class="mb-3">
                @Model.KisaAciklama
            </h4>
            <hr />
            <div class="mb-3">
                <h4 class="text-primary mb-3">
                    @Model.Fiyat TL
                </h4>
                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <div class="input-group mb-3">
                        <input type="number" name="miktar" class="form-control" value="1" min="1" step="1" style="width:70px;" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-cart-plus"></i> Sepete Ekle
                            </button>
                        </div>
                    </div>
                </form>
                <button type="submit" class="btn btn-primary btn-lg">Hemen Al</button>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <p class="p-3">
            @Html.Raw(Model.Aciklama)
        </p>
    </div>
</div>